<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<!--
  Template optimized for setting up a local dashboard running on a developer machine.
  It does not contain all available options but only those considered relevant for that specific use-case.
-->
<Configuration Key="dashboard2">

  <Node Key="EmbeddedTomcat">
    <!-- The Tomcat WebServer TCP port -->
    <!-- <Binding Key="HttpPort" Value="9090" /> -->

    <!-- The address Tomcat will listen on. If empty, will listen on all possible addresses. -->
    <!-- For a personal or temporary dashboard you may want to specify -->
    <!-- 127.0.0.1 (127.x.y.z), ::1, or localhost. -->
    <Binding Key="BindAddress" Value="localhost" />

    <!-- Path-prefix for the Dashboard Url. May be empty. If you proxy the dashboard, the paths in tomcat and on the proxy must match. -->
    <!-- <Binding Key="DashboardUrlBase" Value="/axivion" /> -->

    <!-- The maximum heap size in Megabytes, the tomcat process may use -->
    <Binding Key="JavaMaxHeapSize" Value="256" />

    <!-- Directory where tomcat process writes its temporary files.
         It might be necessary to configure this directory to a system-local location
         when the dashboard configuration lies on network-based storage like
         NFS, SMB, CIFS.
    -->
    <Binding Key="RuntimeDirectory" Value="tomcat" />
  </Node>

  <Node Key="AuthenticationMethods">
    <!-- If configured, all dashboard accesses, that do not explicitly provide credentials will be treated as
         if the configured user had properly authenticated. This is useful if you want to provide anonymous
         access with configurable permissions, or if you simply do not want the complexity of user-management.
         If the configured user is not found behaviour is the same as if this option was not given.
    -->
    <Binding Key="DefaultUser" Value="admin" />
  </Node>

  <!-- The Dashboard writes different kinds of log files: -->
  <!-- -->
  <!-- + tomcat.log: which contains information relevant to tomcat startup/shutdown and is overwritten on every restart. -->
  <!-- + axivion_dashboard.log: The main dashboard log file. Rotated and kept in up to 6 files of 10 MB. -->
  <!-- + axivion_sourceserver.log: Contains stuff related with source-code fetching. Rotated and kept in up to 6 files of 10 MB. -->
  <!-- + axivion_dashboard_3rdparty.log: Contains stuff logged by 3rd party libraries the dashboard uses. Rotated and kept in up to 6 files of 10 MB. -->
  <!-- + localhost_access_log.YYYY-MM-DD.txt: The Tomcat Access log. Rotated daily. -->
  <!-- + commons-daemon.YYYY-MM-DD.log: Windows service runner log. -->
  <!-- + axivion_dashboard_service-stdout.YYYY-MM-DD.log: Windows service console log. -->
  <!-- + axivion_dashboard_service-stderr.YYYY-MM-DD.log: Windows service error console log. -->
  <!-- -->
  <!-- These are all optional. The configured values are the defaults. -->
  <Node Key="Logging">
    <!-- Directory where the log files will be placed. -->
    <Binding Key="Directory" Value="logs" />

    <!-- The log-level only influences the log-files prefixed by axivion -->
    <!-- "debug", "info", "warning", "error", "fatal" -->
    <!-- <Binding Key="Level" Value="info" /> -->

    <!-- Whether to write the Tomcat Server access log. -->
    <!-- <Binding Key="WriteAccessLog" Value="true" /> -->

    <!-- Number of days to keep the access log. Cleaned once at startup. Specify 0 to keep forever. -->
    <!-- <Binding Key="DaysToKeepAccessLog" Value="30" /> -->
  </Node>

  <!-- The Charts that will be seen on the ProjectTrend page. -->
  <!-- This configuration is shared between all projects. -->
  <!-- Refer to the Continuous integration documentation to see which metrics are available. -->
  <Node Key="ChartDefinitions">
    <Node Key="Architecture Violations">
      <Binding Key="1" Value="Metric.Violations.Architecture"/>
      <Binding Key="2" Value="Metric.Violations.Architecture.disabled"/>
    </Node>
    <Node Key="Clones">
      <Binding Key="1" Value="Metric.Violations.Clone"/>
      <Binding Key="2" Value="Metric.Violations.Clone.disabled"/>
    </Node>
    <Node Key="Cyclic Dependencies">
      <Binding Key="1" Value="Metric.Violations.Cycle"/>
      <Binding Key="2" Value="Metric.Violations.Cycle.disabled"/>
    </Node>
    <Node Key="Dead Entities">
      <Binding Key="1" Value="Metric.Violations.Dead_Entity"/>
      <Binding Key="2" Value="Metric.Violations.Dead_Entity.disabled"/>
    </Node>
    <Node Key="Metric Violations">
      <Binding Key="1" Value="Metric.Violations.Metric"/>
      <Binding Key="2" Value="Metric.Violations.Metric.disabled"/>
    </Node>
    <Node Key="Style Violations">
      <Binding Key="1" Value="Metric.Violations.Style"/>
      <Binding Key="2" Value="Metric.Violations.Style.disabled"/>
    </Node>
    <Node Key="Overall Lines of Code">
      <Binding Key="1" Value="Metric.Lines.Comment.sum"/>
      <Binding Key="2" Value="Metric.Lines.LOC.sum"/>
    </Node>
    <Node Key="Overall Complexity">
      <Binding Key="1" Value="Metric.Number_Of_Statements.sum"/>
      <Binding Key="2" Value="Metric.McCabe_Complexity.sum"/>
    </Node>
  </Node>

</Configuration>
