<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="historical-roslyn" value="https://pkgs.dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_packaging/d1622942-d16f-48e5-bc83-96f4539e7601/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="historical-roslyn">
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="System.Collections.Immutable" />
      <package pattern="System.Reflection.Metadata" />
    </packageSource>
  </packageSourceMapping>
</configuration>
